<ion-view cache-view="false">
    <ion-nav-title>{{device.title}}</ion-nav-title>

    <div class="cover_image" style="background-image : url('{{sequence.main_img.thumb_filename || '/files/no_image.png' | makeImgSrc}}')"></div>
  <ion-content>
      <div class="padding has_cover">
        <div class="button-bar">
          <a class="button button-small button-light" ng-click="active_tab = 'device'" ng-class="{'button-positive':active_tab == 'device'}">기기정보</a>
          <a class="button button-small button-light" ng-click="active_tab = 'sequence'" ng-class="{'button-positive':active_tab == 'sequence'}">시퀀스정보</a>
        </div>
        <br />

        <!--device tab-->
        <div ng-show="active_tab == 'device'">
            <p class="help-block"><b>디바이스 종류</b></p>
            <div class="whiteBox padding">
              {{device.model}}
            </div>
            <div class="whiteBox padding" style="border-top:none;">
              <p class="help-block" ng-bind-html="device.desc | nl2br"></p>
            </div>
            <br />

            <p class="help-block"><b>UUID</b></p>
            <div class="whiteBox padding">{{device.uuid}}</div>
            <br />

            <!--<p class="help-block"><b>상태</b></p>
            <div class="item item-icon-right">
              온라인
              <span class="item-note">
                네트워크 상태를 갱신합니다.
              </span>
              <i class="icon ion-ios-refresh-empty"></i>
            </div>
            <br />-->

        </div>

        <!--sequence tab-->
        <div ng-show="active_tab == 'sequence'">
          <h5>{{sequence.title || '선택된 시퀀스가 없습니다'}}</h5>
            <ion-list>
              <ion-item class="item-icon-left" ng-click="goSequence()" ng-if="sequence">
                <i class="icon ion-edit"></i>
                타임라인 보기/편집
                <span class="item-note">
                  <i class="ion-ios-arrow-right"></i>
                </span>
              </ion-item>

              <ion-item class="item-icon-left" ng-click="showMdSeqChg()">
                <i class="icon ion-ios-list-outline"></i>
                다른 시퀀스로 변경
                <span class="item-note">
                  <i class="ion-ios-arrow-right"></i>
                </span>
              </ion-item>

              <!--<ion-item class="item-icon-left" ng-click="goNewSequence()">
                <i class="icon ion-ios-plus-empty"></i>
                새로운 시퀀스 만들기
                <span class="item-note">
                  <i class="ion-ios-arrow-right"></i>
                </span>
              </ion-item>-->
            </ion-list>
            <div ng-if="sequence">
              <br />
              <p class="help-block"><b>러닝타임</b><br />
                {{sequence.total_time | toTime}}
              </p>
              <br />
              <p class="help-block"><b>포함된 텍스트클립</b><br />
                  <span ng-bind-html="sequence.text_clip | nl2br"></span>
              </p>
            </div>
        </div>
      </div>
  </ion-content>

    <script id="sequence-change.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <div class="buttons">
                    <button class="button button-icon ion-ios-close-empty" ng-click="closeMdSeqChg()"></button>
                </div>
                <h1 class="title" ng-if="!showSearch">시퀀스 선택</h1>

                <label class="item-input-wrapper title" style="text-align:left; height:auto; top:2px; left:35px; right:40px;" ng-if="showSearch">
                    <input type="text" placeholder="시퀀스명으로 찾기..." ng-model="search.title" style="background: transparent; width: 100%; margin-top: 5px;"/>
                </label>
                <div class="buttons">
                    <button class="button button-icon ion-ios-search" ng-click="showSearch = !showSearch; search.title=''"></button>
                </div>
            </ion-header-bar>
            <ion-content class="padding">
                <ion-list>
                    <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="seq in sequences | filter:search:strict" type="item-text-wrap" ng-click="changeSequence(seq)">
                        <img ng-src="{{seq.main_img.thumb_filename | makeImgSrc}}" height="30">
                        <h2>{{seq.title}}</h2>
                        <br />
                        <p>{{seq.text_clip}}</p>
                        <p class="help-block"><b>러닝타임</b> {{seq.total_time | toTime}}</p>
                    </ion-item>
                </ion-list>

                <ion-infinite-scroll
                        ng-if="moreDataCanBeLoaded"
                        on-infinite="loadMore()">
                </ion-infinite-scroll>
            </ion-content>
        </ion-modal-view>
    </script>


</ion-view>