<ion-view view-title="시퀀스 관리">
  <ion-nav-buttons side="primary">
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon" ng-click="showAddSequence()"><i class="icon ion-ios-plus-empty"></i></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="shouldShowDelete">
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="sequence in sequences" type="item-text-wrap" href="#/dip/sequenceEdit/{{sequence.seq_srl}}">
        <img ng-src="{{sequence.main_img.thumb_filename | makeImgSrc}}" height="30">
        <h2>{{sequence.title}}</h2>
        <br />
        <p>{{sequence.text_clip}}</p>
        <p class="help-block"><b>러닝타임</b> {{sequence.total_time | toTime}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(sequence)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>


    <script id="sequence-add.html" type="text/ng-template">
      <ion-modal-view style="background:#eeeeee;">
        <ion-header-bar>
          <h1 class="title">시퀀스 추가</h1>
          <div class="buttons">
            <button class="button-icon" ng-click="closeAddSequence()"><i class="icon ion-ios-close-empty"></i></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <div class="padding">
            <p class="help-block">새로운 빈 시퀀스를 생성합니다.</p>
          </div>
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="시퀀스 제목">
            </label>
            <label class="item item-input">
              <textarea placeholder="텍스트 클립" rows="3"></textarea>
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive button-small">
              빈 시퀀스 생성
            </button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>